[submodule "Momentum-BE"]
	path = Momentum-BE
	url = https://github.com/be15-fin-project/be15-fin-DAO-Momentum-BE.git
	branch = main
[submodule "Momentum-FE"]
	path = Momentum-FE
	url = https://github.com/be15-fin-project/be15-fin-DAO-Momentum-FE.git
	branch = main
